

.container{

background-color: rgba(101, 204, 204, 0.21);
padding: 50px;
}
main{
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
h1 {
color: aquamarine;
font-family: 'Rubik Vinyl', cursive;
font-family: 'Unbounded', cursive;
}

header{
    background-color:rgb(25, 175, 195);
    position: sticky;
    left: 0px;
    right: 0px;
    height: 50px;
    color:white ;
    display:flex;  
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

#tabs{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.song{
color: rgba(14, 1, 19, 0.399);
border: 3px solid rgb(94, 184, 206);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(201, 206, 213);
width: 500px;
height:100px;
overflow: auto;
}

/* a bit about me */
.tab1{
/* display:inline-block;
margin: 20px; */
border: 1px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.895);
margin-left: 50px;
left: 0px;
}

/*place i love */
.tab2{
/* display:inline-block;
margin: 20px; */
border: 1px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.895);
position: absolute;
left: 75%;
}

/*contact me */
.tab3{
/* display:inline-block;
margin: 20px; */
border: 1px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.895);
position: absolute;
left: 85%;
}

h3 {
color: blueviolet;
}

.pic{
    display: grid;
}

.img-container{
    display: grid;
}

#picList{
	display: grid;
	grid-template-columns: repeat(8, 100px);
	grid-template-rows: repeat(3, 100px);
	gap: 5px;
}

.image1 {
    display: grid;
    height: 200px;
	width: 200px;
	grid-column: 1;
	grid-row: 1;
}


.image2 {
    display: grid;
    height: 100px;
	width: 100px;
	grid-area:3/2;;

}

.image3{
    display: grid;
    width: 150px;
	height: 100px;
	grid-row: 1/4;
}

.image4 {
    display: grid;
    height: 205px;
	width: 256px;
	grid-area: 2/3;
	
}

.image5 {
    display: grid;
    height: 100px;
	width: 100px;
	grid-area: 1/3;
   
}

.image6{
    display: grid;
    height: 100px;
	width: 100px;
	grid-area: 3;
}



a:hover {
color: aqua;
}

a:active {
color: rgb(211, 24, 24);
}

button {
cursor:pointer;
padding: 8px;
background-color: rgb(10, 131, 131); 
color:white;
}

button:hover {
background-color: rgba(10, 27, 216, 0.838);
}
footer {
background-color:rgb(140, 133, 221);
position: fixed;
bottom:0px;
left: 0px;
right: 0px;
height: 50px;
}
.name{
display:inline-block;
margin: 20px;
}
.date{
display:inline-block;
margin: 10px;
position: absolute;
right: 0px;
top: 5px;
}
/*dark mood */
.tabDwon1{
display:inline-block;
margin: 20px;
border: 1px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.895);
position: absolute;
left: 45%;
bottom:-10px
}
.darkMood{
background-color: black;
color: white;
}

/* tablet */
@media screen and (min-width: 391px) and (max-width: 768px){
    .main{
    padding: 20;
    width: 100%;
    }  
    
    .song{
    width: 200px;
    padding: 20px;
    }
    .tabs{
        gap: 5px;
        margin-left: 200px;
    }
   .tab1{
    margin-left: 10px;
   }
   .tab2{
    left: 40%;
   }
   .tab3{
    left: 70%;
   }

   #picList{
    display: flex;
    flex-direction: column;
   }
}
@media screen and (max-width: 390px){
    .main{
    padding: 20;
    width: 100%;
    }  
    
    .song{
    width: 200px;
    padding: 20px;
    }
    .tabs{
        gap: 5px;
        margin-left: 200px;
    }
   .tab1{
    margin-left: 10px;
   }
   .tab2{
    left: 40%;
   }
   .tab3{
    left: 70%;
   }

   #picList{
    display: flex;
    flex-direction: column;
   }
}
